body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}
.container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
}
.products {
  border: 1px solid #ccc;
  padding: 20px;
  width: 350px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.cart {
  border: 1px solid #ccc;
  padding: 20px;
  width: 250px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h2 {
  text-align: center;
  color: #333;
}
.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom:  25px;
  background-color: #C0C0C0;
  border-radius: 8px;
  padding: 10px;
}
.product span:first-child {
  /* flex: 1; */
}
.first {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #5a98d0;
  padding: 5px;
  border-radius: 20px;
}
button {
  background-color: #5a98d0;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  width: 28px;
  height: 23px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  border: none;
  border-radius: 0;
}
button:hover {
  background-color: #487cb5;
}
.quantity {
  color: white;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  width: 20px;
  text-align: center;
}
.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #C0C0C0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#total {
  font-weight: bold;
  color: #5a98d0;
  font-size: 20px;
}
.total1 {
 
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #C0C0C0;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.total1{
  margin-top:17px;
}
span{
  color:white;
  font-weight: bold;
}